body {
    font-family: 'Inter', sans-serif;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    background-color: #774C60;
    padding: 10px;
}

p.KR {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    color: #D8D4D8;
    padding: 10px;
    /* height: 30%; */
}

.menuItems i {
    float: right;
    padding: 10px
    /* margin: 0 0 10px */
}

.menuItems a.menuLink {
    display: block;
    color: black;
    text-decoration: none;
    text-align: right;
    font-size: 22px;
    margin: 8px 0;
    /* justify-self: end;
    align-self: center; */
    /* display: none; */
}

.homepage {
    height: 800px;
    background-image: url("https://images.unsplash.com/photo-1542407424724-5426773d65a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    /* background-repeat: no-repeat;
    background-position: center -200px;
    background-size: 150%; */
    
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    padding: 175px 0 0 0;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 10px 0 0 0;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: #372549;
    padding: 25px;
}

.portContainer {
    display: grid;
}

.indivProj {
    border: solid;
    border-color: #774C60;
    border-width: 5px;
    height: 200px;
    width: 300px;
    justify-self: center;
    margin: 0 0 30px 0;
    padding: 3px;
}

.projImg {
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.title {
    background-color: #D8D4D8;
    color: #774C60;
    font-size: 20px;
    padding: 10px 0px 0px 10px;
    height: 30px;
    
}

.skillsIconsContain {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icon {
    width: 30%;
    height: 30%;
    margin: 0 0 30px 0;
}

.iconImage {
    width: 100%;
}

.iconLabel {
    font-size: 12px;
    color: #372549; 
    text-align: center;
}


.contact {
    background-color: #b75d69;
}

form {
    display: grid;
    margin: 10px;
}

label {
    display: grid;
}

input {
    width: 250px;
    font-family: 'Inter', sans-serif;
    background-color: #D8D4D8;
    border: none;
    padding: 5px;
    margin-bottom: 5px;
}

textarea {
    width: 250px;
    height: 60px;
    font-family: 'Inter', sans-serif;
    background-color: #D8D4D8;
    border: none;
    padding: 5px;
    margin-bottom: 5px;
}

button {
    width: 260px;
    font-family: 'Inter', sans-serif;
    background-color: #774C60;
    color: white;
    border: none;
    padding: 5px;
}

.profilePic {
    width: 100px;
    border-radius: 35px;
    margin: 25px 0 25px 25px;
}

.email {
    font-size: 15px;
    padding: 20px;
}

footer {
    background-color: black;
    color: #D8D4D8;
    padding: 5px;
}

p.footer {
    font-size: 10px;
    text-align: center;
}
#reference {
    color: #D8D4D8;
    font-size: 8px;
}
